*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    justify-content: center;
    display: flex;
    height: 100vh;
}

#container {
    margin-right:70%;
    margin-top: 100px;
    max-width: 800px;
    
}