*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    display: flex;
    align-items: center;
    height: 100vh;
}

.cardsIndex{
    display: flex;
}

.card{
    align-self: center;
}

.card2 {
    display: inline-block;
    align-items: center;
}

font-color{
    color: white;
}
p{
    color: black
}

h5{
    color: black;
}
