@font-face {
  font-family: 'Schibsted Grotesk', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital@1&display=swap');
}

body{
    justify-content: center;
    display: flex;
    background: center;
    height: 0%;
    margin: 0%;
}

.card {
    display: inline-block;
    position: relative;
}

button {
  display: inline-block;
  position: relative;
  margin-top: 50%;
  background-color: orange;
}

#container {
    display: inline-block;
    position: relative;
  }
  
#container .titulo{
    position: absolute;
    top: 300px;
    right: 500px;
    font-size: 40px;
    color: orange;
    text-shadow: orange;
  }

  p {
    position: absolute;
    top: 300px;
    right: 500px;
    font-size: 40px;
    color: white;
    text-shadow: white;
  }

  input {
    border-color: black;
    margin-top: 100px;
    width: 800px;
    height: 800px;
  }